/* CSS reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	font-size: 1em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	background-image: url(../images/background/_s_a96b96c96d96e0f0g64hFFFFFFF8F6F7i98.png);
	
}
strong{
	font-weight: bold;
}
a{
	text-decoration: none;
}

/* end reset */ 

/* style navigacji */ 
.topBar{
	display: flex;
	justify-content: flex-start;
	background-color: black;
	width: 100%;
	min-width: 1000px;
	height: 180px;
}

#logo{
	align-content: flex-start;
	width: 540px;
	height: 120px;
	margin: 30px 0px 30px 30px;
}
.contIcons{
	margin-left: auto;
	width: 300px;
	height: 180px;
	display: flex;
	align-items: center;
	flex-direction: row;
  	flex-wrap: wrap;
}
.smallIccTopBar{
	height: 30px;
	width: 30px;
	margin: 0 15px;
}
.nav{
	width: 100%;
	min-width: 1000px;
	text-align: center;
	margin: 0px auto;
	height: 40px;
	display: block;
	background-color: black;
	position: relative;
	z-index: 2;
	box-shadow: 0px 10px 10px black;
}
#links{
	list-style-type: none;
	margin: 0 auto;
	width: 100%;
	
}
#links li{
	display: inline-block;
	width: 16%;
	max-width: 140px;
	height: 36px;
	margin: 2px 0px;
	font-size: 0.8em;
	transition: all .1s ease-in-out;
	border-right: 1px solid gray;
}
.linkItem{
	min-width: 100px;
}
#links li:last-child{
	border-right: 0px solid gray;
}
.linkItem::before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
#links li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-family: "Didact Gothic", sans-serif;
	font-size: 1.2em;
	font-variant-caps: small-caps;
	letter-spacing: 0.1em;
	font-weight: 700;
	transition: all .2s ease-in-out;
}
#links li:hover{
	border-bottom: 2px solid #fff2fb;
}
#links li a:hover{
	color: #5d0859;
}
/* koniec nawigacji */ 

/* style ogólne */ 

.wrapper{
	width: 1200px;
	min-width: 400px;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-color: white;
}
@media screen and (max-width:500px){
	.wrapper{
		width: 300px;
		background-color: red;
	}
    }
.colLeft{
	order: 1;
	width: 100%;
	min-width: 1000px;
	float: left;
	display: block;
}
.colRight{
	order: 2;
	min-width: 1000px;
	width: 100%;
	float: right;
	display: block;
}
.artHead{
	font-size: 1.8em;
	font-family: "Didact Gothic", serif;
	margin: 0px 0px 30px 30px;
	font-weight: 900;
	text-align: center;
	padding-top: 30px;
}
.artHeader2{
	font-family: "Didact Gothic", serif;
	font-size: 1.4em;
	margin-left: 30px;
	margin-top: 10px;
	font-weight: 900;
	text-align: left;
}
.fullWidthArtHead{
	width: 100%;
	min-width: 350px;
	padding: 30px 0px;
	font-size: 1.6em;
	color: white;
	font-family: "Didact Gothic", serif
}
.artButton{
	width: 200px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: tomato;
	border: none;
	cursor: pointer;
}
.artImage{
	height: 160px;
	width: 160px;
	float: left;
	position: relative;
	top: -30px;
	margin: 0 20px 10px 0;
	border-radius: 80px 80px 80px 80px;
	font-size: 0,9em;
	box-shadow: 3px 5px 10px;
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}
.artCont{
	text-align: center;
	font-family: "Didact Gothic", sans-serif;
	padding-bottom: 10px;
	margin: 10px 15px 10px 15px;
	line-height: 1.6em;
	color: black;
	text-align: justify;
	border-bottom: 1px solid lightgray;
	width: 1170px;
	min-width: 450px;
}
.fullWidthPart{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background-color: blue;
	text-align: center;
	min-width: 300px;
	background-image: url('../images/background/main_background.jpg');
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}
.listaZabiegow{
	display: flex;
	flex-direction: column;
	align-items: left;
	align-content: center;
}
.paraCont{
	margin-bottom: 1em;
	margin-top: 0;
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
	font-family: "Didact Gothic", serif;
}
.contLiItem{
	margin-top: 15px;
}
.contLiItem li{
	display:block;
	margin: 0px 20px;
	padding-top: 20px;
	width: 300px;
	font-family: "Didact Gothic", serif;
	font-size: 1.3em;
	text-align: left;
	color: blueviolet;
	transition: all .4s ease-in-out;
}
.contLiItem li:first-child{
	padding-top: 0px;
}

.contLiItem li:hover{
	margin-left: 35px;
	font-weight: bold;
}
.contLiItem li a{
	text-decoration: none;
	color: blueviolet;
}
.contLiItem li:last-child{
	margin-bottom: 20px;
}
.artCont p{
	margin-bottom: 1em;
	margin-top: 1em;
	margin-left: 15px;
	text-align: justify;
}
.contact{
	text-align: left;
	color: dimgray;
	font-family: "karla", serif;
	font-size: 0.9em;
	margin-top: 15px;
	margin-left: 10px;
	line-height: 1.8em;
	display: inline-block;
}
.smallIc{
	width: 17px;
	height: 17px;
	margin-right: 5px;
}
#bottom{
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	align-items: center;
}
#clearer{
	display:block;
	clear: both;
}
.zabiegi{
	order: 2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 1200px;
	
}
.popZabiegi{
	width: 250px;
	height: 300px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
	margin: 10px 10px 30px 10px;
	border: 3px solid white;
	box-shadow: 3px 5px 10px;
	transition: all .2s ease-in;
}
.popZabiegi:hover{
	transform: scale(1.2);
	cursor: pointer;
}
.zabHead{
	width:220px;
	height: auto;
	background-color: rgba(196, 191, 191, 0.7);
	font-family: "Didact Gothic", serif;
	font-weight: bold;
	margin: 10px 10px 10px 10px;
	padding: 5px 10px 5px 0;
	font-size: 1.2em;
	line-height: 1em;
}
.zabCont{
	text-align: left;
	height: auto;
	max-height: 220px;
	overflow: hidden;
	margin: 10px 10px 0px 10px;
	padding: 10px;
	background-color: rgba(196, 191, 191, 0.7);
	font-family: "Didact Gothic", serif;
	font-weight: bold;
	border-radius: 0 0 20px 0;
}
.wiecej{
	display: block;
	text-align: right;
	margin: 10px 10px 5px 10px;
}

/* koniec ogólne */ 

/* style footera */

#foot{
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	justify-content: center;
	width: 100%;
	min-width: 1200px;
	height: 250px;
	margin-top: 0px;
	/*background-image: url(../images/background/main_background.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
	background-color: black;
}
.footBox{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 280px;
	margin: 20px 10px 0 10px;
	height: auto;
	display: inline-block;
}
.footBox p{
	color: gray;
	font-family: "Didact Gothic", sans-serif;
	margin: 20px 10px 0 20px;
	text-align: left;
}
.footBox ul{
	line-height: 1.8em
}
.footContact{
	float: left;
	width: 100%;
	height: 40px;
	align-items: center;
}
.footList{
	text-align: left;
	font-family: "Didact Gothic", sans-serif;
	margin-left: 5px;
	margin-top: 5px;
	height: 30px;
	width: 260px;
	transition: all .3s ease-in;
}
.footlist:hover{
	transform: scale(1.3)
}
.footList a{
	font-size: 1.2em;
	transition: all .2s ease-in-out;
	color: white;;
}
.footList a:hover{
	color: #5d0859;
}
.footBoxLogo{
	width: 280px;
	height: 80px;
	position: relative;
	top: -10px;
}
.smallIcon{
	display: inline-block;
	float: left;
	margin: 20px 20px 0 0;
	height: 30px;
	width: 30px;
}
.footHead{
	font-family: "Didact Gothic", sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
	font-size: 1.6em;
	color: gray;
}
.footList a{
	text-decoration: none;
}
#copyright{
	font-family: "Didact Gothic", sans-serif;
	font-size: 0.74em;
	height: 20px;
	padding-top: 10px;
	color: gray;
	background-color: black;
}

/*scroll button */

/*
.testheight {
  height:1200px;
  font-size:20px;
  text-align:center;
  padding:100px 20px;
}*/

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:rgba(178,178,178,0.7);
	padding:20px 20px 20px 20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	border-radius: 10px;
	line-height: 1em;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	border-radius: 10px;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:16px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

/* koniec przycisku */

/* style cennika */
.cennik{
	width: 1200px;
	min-width: 1000px;
	height: auto;
	margin: 20px 0px 20px 0px; 
	text-align: center;
	table-layout:fixed; 

}
.cennik tbody tr{
	height: auto;
	width: auto;
}
.cennik tbody tr:nth-child(odd){
	background-color: lightgray;
}
.cennik tbody tr td{
	font-family: "Maitree";
	vertical-align: bottom;
	
}
.tdLeft{
	float: left;
	text-align: left;
	width: 700px;
	min-width: 200px;
	max-width: 2500px;
	margin: 10px 0px 10px 20px; 
}
.tdRight{
	float: right;
	text-align: right;
	width: 390px;
	min-width: 100px;
	margin: 10px 10px 10px 0px; 
	font-weight: bold;
	word-wrap: break-all;
}

.smallHead{
	text-align: left;
	font-family: "Maitree";
	margin: 20px 0 0 30px;
	font-size: 1.1em;
}
/* koniec cennika */

/* style galerii */

.galeryImage{
	height: 120px;
	width: 180px;
	border-radius: 15px;
	transition: all 0.3s ease-in-out;
}
.galeryImage:hover{
	transform: scale(1.2);
}
#galeria{
	margin-bottom: 30px;
}
/* koniec galerii */

/* sekcja kontakt */ 

.container {
	min-width:292px;
	width: 100%;
	margin: 0 auto;
}
/*
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "karla", serif; }

#contact {
	padding: 0px 10px;
}

#contact h3 {
	display: block;
	font-size: 1em;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:16px;
	font-family: "karla", serif;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding: 10px 5px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  	resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin: 0 10px;
	padding:10px;
	font-size:15px;
	border-radius: 5px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { 
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

ul .contact{
	width: 100%;
	font-size: 1.5em;
}
ul .contact:last-child{
	margin-bottom: 20px;
}
#googleMap{
	display: inline-block;
	margin: 20px 0px;
}
.contPara{
	text-align: left;
	display: inline-block;
	margin: 15px 5px;
	font-family: "Maitree", serif;
	font-size: 0.8em;
	color: gray;
	
}
 /* koniec sekcji kontakt */

/* mainImage */
.mainMainImages{
	display: flex;
	justify-content: center;
	width: 100%;
	min-width: 1000px;
	height: 700px;
	background-image: url('../images/background/main_background.jpg');
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
	position: relative;

}
.mainMainImageLeft{
	height: 700px;
	width: 650px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: flex-start;
}
.mainMainImageRight{
	height: 500px;
	width: 650px;
	display: inline-block;
	margin-left: auto;
	margin-right: 100px;
}
.mainImgRight{
	height: 700px;
	width: 650px
}
.mainHeaderHead{
	color: white;
	display: inline-block;
	font-family: "Didact Gothic";
	text-align: left;
	font-size: 2em;
	height: 30px;
	width: 400px;
	margin-left: 30%;
	margin-top: 30%;
}
.mainHeaderCont{
	color: white;
	font-size: 1.3em;
	font-family: "Didact Gothic";
	width: 600px;
	margin-left: 30%;
	text-align: left;
}
.small{
	margin-top: 10px;
	font-size: 0.7em;
}
.mainHeaderButton{
	color: black;
	margin-left: 30%;
	margin-top: 20px;
	height: 30px;
	width: 200px;
	background-color: tomato;
	border: none;
	cursor:pointer;
}
.mainHeaderButton{
	text-decoration: none;
	color: black;
	line-height: 1.7em;
	font-size: 0.9em;
	font-family: "Didact Gothic", serif;
}
hr{
	width: 60px;
	align: left;
	margin-left: 30%;
}
.mainImages{
	display: flex;
	justify-content: center;
	width: 100%;
	min-width: 1000px;
	height: 300px;
	background-image: url('../images/background/main_background.jpg');
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
	position: relative;

}
.mainImageLeft{
	height: 700px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: flex-start;
}
.mainImageRight{
	height: 300px;
	width: 500px;
	display: inline-block;
	margin-left: auto;
	margin-right: 300px;
}
.imgRight{
	height: 300px;
	width: 280px
}
/*
#slideshow { 
    margin: 0px auto; 
	position: relative;
    width: 100%; 
    height: 700px; 
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}
.slideHead{
	color: black;
	font-size: 1.5em;
	text-align: left;
	margin: 40px 0px 20px 40px;
	width: 100%;
}
.slideDesc{
	display: inline-block;
	width: 50%;
	height: 100px;
	clear: both;
	margin: 20px 0px 20px 50px;
	text-align: left;
	color: black;
	float: left;
}
.slideMore{
	width: 150px;
	height: 40px;
	float: left;
	clear: both;
	margin: 50px 0px 20px 60px;
	color: antiquewhite;
	background-color: darkred;
	font-family: "Maitree";
	border: none;
	cursor: pointer;
	transition: all .4s ease-out;
}
.slideMore:hover{
	background-color: indianred;
	transform: scale(1.1);
}
*/


/* slide-boxy */
/*#slideBox1{
	background-image: url(../images/slideshow/slide1.png);
}
#slideBox2{
	background-image: url(../images/slideshow/slide2.png);
}
#slideBox3{
	background-image: url(../images/slideshow/slide3.png);
}
#slideBox4{
	background-image: url(../images/slideshow/slide4.png);
}
#slideBox5{
	background-image: url(../images/slideshow/slide5.png);
}
*/
/* koniec slidera */

/* style zabiegi */
.fullWidth{
	width: 1200px;
	height: auto;
}


/* flipper */
.flip-container {
	height: 350px;
	width: 350px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 350px;
	height: 350px;
	display: inline-block;
	margin: 15px 1px 15px 0;
	
}

/* szybkosc obracania */

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* tylny panel */

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* przedni panel */
.front {
	height: 350px;
	width: 350px;
	z-index: 2;
	/* firefox 31 */
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
	background-color: lightgray;
}
/* style zawartosci flippera */
.flipHead{
	width: 95.5%;
	height: 15%;
	margin: 79% 0 0 0;
	display: inline-block;
	padding: 10px 0px 10px 15px;
	background-color: rgba(0,0,0,0.7);
	font-size: 1em;
	text-align: left;
	color: white;
}
.flipHead::before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.backHead{
	width: 95.5%;
	height: 12%;
	margin: 0;
	display: inline-block;
	padding: 15px 0px 10px 15px;
	background-color: rgba(0,0,0,0.7);
	font-size: 1em;
	text-align: left;
	color: white;
}
.backCont{
	height: 50%;
	margin: 15px 10px 15px 10px;
	text-align: left;
}
.backMore{
	background-color: inherit;
	border: 2px solid black;
	width: 45%;
	height: 10%;
	float: left;
	margin-left: 15px;
	color: black;
	cursor: pointer;
	transition: all .4s ease-in
}
.artButton a{
	text-decoration: none;
}
.backMore:hover{
	background-color: black;
	color: white;
}
/* tła flipcard */

#flipCard1{
	background-image: url(../images/zabiegi_lista/botoks2.png);
	background-size: cover;
}
#flipCard2{
	background-image: url(../images/zabiegi_lista/kwas.png);
	background-size: cover;
}
#flipCard3{
	background-image: url(../images/zabiegi_lista/osocze.png);
	background-size: cover;
}
#flipCard4{
	background-image: url(../images/zabiegi_lista/usta.png);
	background-size: cover;
}
#flipCard5{
	background-image: url(../images/zabiegi_lista/twarz.png);
	background-size: cover;
}
#flipCard6{
	background-image: url(../images/zabiegi_lista/lysienie.png);
	background-size: cover;
}
#flipCard7{
	background-image: url(../images/zabiegi_lista/twarz2.png);
	background-size: cover;
}
#flipCard8{
	background-image: url(../images/zabiegi_lista/neuavia.png);
	background-size: cover;
}
#flipCard9{
	background-image: url(../images/zabiegi_lista/laser.png);
	background-size: cover;
}
#flipCard10{
	background-image: url(../images/zabiegi_lista/strefa_mezczyzn.png);
	background-size: cover;
}
/* promo card */
#promoCard1{
	background-image: url(../images/promo/promo1.jpg);
	background-size:contain;
	background-repeat: no-repeat
}

/* koniec flipcard */ 

/* sekcja kontakt */ 

.contactHead{
	font-family: "Maitree", serif;
	text-align: left;
	font-size: 1.6em;
	margin: 30px 0 20px 30px;
}
.contactCont{
	font-family: "Maitree", serif;
	text-align: left;
	margin: 10px 0 10px 40px; 
}

/* koniec kontakt */
/* sekcja zabiegi */
.zabWrapper{
	width: 1200px;
	min-width: 1000px;
	height: auto;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	background-color: white;
}
.zabColLeft{
	box-sizing: border-box;
	width: 900px;
}
.zabColRight{
	box-sizing: border-box;
	width: 300px;
	margin-bottom: 30px;
}
.zabArtHead{
	font-size: 1.8em;
	font-family: "Didact Gothic", serif;
	margin: 30px auto;
	font-weight: 900;
	text-align: center;
}
.blackText{
	color: black;
}
.whiteText{
	color: white;
}
.toLeft{
	text-align: left;
}
.zabArtHeader2{
	font-family: "Didact Gothic", serif;
	font-size: 1.4em;
	margin: 20px 0 20px 30px;
	font-weight: 900;
	text-align: left;
}
.zabArtCont{
	width: 850px;
	margin: 10px;
	font-family: "Didact Gothic", serif;
}
.zabArtCont p{
	width: 100%;
	margin-bottom: 1em;
	margin-top: 1em;
	margin-left: 15px;
	text-align: justify;
	line-height: 1.3em;
}
.zabContLiItem{
	text-align: left;
	margin: 5px 0 5px 20px;
	line-height: 1.3em;
	font-family: "Didact Gothic", serif;
}
.zabContLiItem li a{
	text-decoration: none;
	text-align: left;
	margin: 20px 0 0 5px;
	font-family: "Maitree", serif;
	width: 100%;
	float: left;
	color: dimgrey;
}
.zabContLiItem li a:hover{
	color: pink
}
.zabContLiItem li a.activeItem{
	color: red;
}
.highlighted{
	color: firebrick
}
.zabCennik{
	width: 900px;
	min-width: 700px;
	height: auto;
	margin: 20px 0px 20px 0px; 
	text-align: center;
}
.zabCennik tbody tr{
	height: auto;
	border-bottom: 1px solid black;
}
.zabCennik tbody tr td{
	font-family: "Maitree";
	vertical-align: bottom;
}
.zabTdLeft{
	float: left;
	text-align: left;
	width: 600px;
	min-width: 200px;
	height: 100%;
	margin: 10px 0px 10px 20px; 
}
.zabTdRight{
	float: right;
	text-align: right;
	width: 250px;
	min-width: 50px;
	height: 100%;
	margin: 10px 10px 10px 0px; 
	font-weight: bold;
}

/* o mnie style */
.bulletList{
	margin-left: 50px;
	list-style-type: square;
}

.fullWidthPart{
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-image: url('../images/background/main_background.jpg');
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}
.white{
	color: white;
}
.styledAnchor{
	display: block;
	line-height: 2.3em;
	margin: 20px auto;
	background-color: tomato;
	height: 40px;
	width: 200px;
	text-align: center;
	color: black;
}
.styledAnchor:hover{
	background-color: darkred;
}
.boxContentPara{
	text-align: left;
	margin: 0 auto;
	font-family: "Didact Gothic", serif;
	width: 70%;
	color: white;
}
.bottomSpace{
	margin-bottom: 30px;
}
.red{
	color: red
}
strong{
	font-size: 1.2em;
}